<a href="https://colab.research.google.com/github/alkapandey12/AlkaPandey/blob/main/operators_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logical Opertor

In [ ]:
job_work_from_home=True
job_health_insur=True

In [ ]:
job_work_from_home and job_health_insur

True

In [ ]:
job_skills=['python','r','sql']

In [ ]:
job_skills

['python', 'r', 'sql']

In [ ]:
#Identity operator

In [ ]:
salary_kelly=100_000
salary_luke=100_000
salary_kelly is salary_luke

False

In [ ]:
id(salary_kelly)

136447158484016

In [ ]:
id(salary_luke)

136447158482864

# BITWISE

In [ ]:
bin(42)

'0b101010'

# LOOPS

In [ ]:
# prompt: job_list

job_list = ['Python Developer', 'Data Scientist', 'Software Engineer', 'Machine Learning Engineer']
job_list

['Python Developer',
 'Data Scientist',
 'Software Engineer',
 'Machine Learning Engineer']

In [ ]:
len(job_list)

4

In [ ]:
scientist_list=[]

for job in job_list:
    if 'Scientist' in job:
        scientist_list.append(job)

In [ ]:
numbers=[0,1,2,3,4,6]
for number  in numbers:
  print(number)

0
1
2
3
4
6

In [ ]:
characters='Python'
for char in characters:
    print(char)

P
y
t
h
o
n

In [ ]:
yeras_experience={
    'luke':3,
    'kelly':6,
    'ken':4,
    'alex':3
}

In [ ]:
import random

experience = {}
names = ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Jona', 'Kelly', 'Luke', 'Mia', 'Noah', 'Olivia', 'Peter', 'Quinn', 'Robert', 'Sophia', 'Thomas', 'Uma', 'Victor', 'Wendy', 'Xavier', 'Yara', 'Zara', 'Ken', 'Alex', 'Jin']

for name in names:
  experience[name] = random.randint(1, 10)

print(experience)

{'Alice': 9, 'Bob': 1, 'Charlie': 5, 'David': 5, 'Eve': 2, 'Jona': 9, 'Kelly': 7, 'Luke': 8, 'Mia': 3, 'Noah': 10, 'Olivia': 8, 'Peter': 9, 'Quinn': 3, 'Robert': 5, 'Sophia': 3, 'Thomas': 1, 'Uma': 5, 'Victor': 7, 'Wendy': 3, 'Xavier': 4, 'Yara': 6, 'Zara': 4, 'Ken': 9, 'Alex': 8, 'Jin': 7}

In [ ]:
for key , value in yeras_experience.items	():
  if value>5:
    print(key,'has',value,'years of experience')

kelly has 6 years of experience

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
for _ in range(100):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
count=1
while count<=5:
  print(count)
  count+=1

1
2
3
4
5

# LIST COMPREHENSION

In [ ]:
numbers=[x for x in range(100)]

In [ ]:
numbers=[]
for number in range(100):
  numbers.append(number)

In [ ]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
numbers=[x for x in range(100)]

In [ ]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]